body {
  background-color: #252440;
  color: #f2f2f2;
  font-family: Arial;
  display: flex;
  flex-direction: column;
}

.css-main-title {
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 20px
}

.css-page-container {
  display: grid;
  grid-template-columns: 502px 502px;
}

.css-how-to-play {
  background-color: #f2f2f2;
  color: #252440;
  border: 1px solid #f2f2f2; 
  font-size: 15px;
  padding: 8px 15px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  box-shadow: inset 0 0 0 0 #252440;
  transition: 0s;
}

.css-container {
  margin-top: 25px;
  text-align: center;
  padding: 20px 30px;
}

.css-container-two {
  margin-right: 30px;
  margin-left: 70px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 350px;
  height: 260px;
}

.css-title {  
  font-size: 30px;
  font-weight: bold;
  color: #252440;
  margin-top: 15px;
  text-align: center;
}

.css-instructions {
  margin-bottom: 10px;
  color: #252440;
} 

.css-move-icon {
  height: 50px;
}

.css-move-button {
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2; 
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #252440;
  transition: 0s; 
}

.css-scissors-button {
  margin-right: 0px;
}

.css-hover-effect:hover {
  box-shadow: inset 300px 0 0 0 #252440;
}

.css-win,
.css-lose,
.css-tie {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
}

.css-win {
  color: #0bda51;
}

.css-lose {
  color: #ff5249;
}
  
.css-tie {
  color: #f2f2f2
}

.css-moves {
  word-spacing: 5px;
  font-weight: bold;
}

.css-score {
  margin-top: 50px;
}

.css-reset,
.css-auto-play {
  background-color: transparent;
  border: 1px solid #f2f2f2; 
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: inset 0 0 0 0 #0b6623;
  transition: 0s; 
}

.css-reset-hover:hover {
  box-shadow: inset 300px 0 0 0 #d0312d;
}

.css-auto-hover:hover {
  box-shadow: inset 300px 0 0 0 #0b6623;
}

.css-auto-on {
  background-color: #0b6623;
}

.css-confirm-button {
  background-color: transparent;
  border: 1px solid #f2f2f2; 
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: inset 0 0 0 0 #90dd90;
  transition: 0s; 
}

.css-yes-button:hover {
  box-shadow: inset 300px 0 0 0 #d0312d;
}

.css-no-button:hover {
  box-shadow: inset 300px 0 0 0 #0b6623;
}